{% load static %}
<html>
    <head>
        <title>Welcome to Smarthome</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/material-design-iconic-font/css/materialdesignicons.min.css'%}">
        <style>
                .nav{
                    display: table;
                }
                .nav li {
                    display:inline;
                    margin: 25px;
                }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2 mt-5">
                    <center>
                        <img src="{% static 'image/aglistechlogo.png' %}" alt="" style="width:20%">
                    <h2 class="align-middle">Welcome to Website Smarthome</h2>
                    <h4 class="align-middle">this website is under construction</h4>
                    </center>
                    <br>
                    <br>
                    <center>
                        <h3>Team:</h3>
                        <div class="nav">
                            <ul>
                                <li>Sufyan Saori <a href="github.com/lol97"><i class="mdi mdi-github-circle"></i>lol97</a> </li>
                                <li>Naufal Bimantara <a href="github.com/lol97"><i class="mdi mdi-github-circle"></i>huehue</a> </li>
                            </ul>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </body>
</html>